layout {
  default_tab_template {
    children
    pane size=1 borderless=true {
      plugin location="https://github.com/dj95/zjstatus/releases/latest/download/zjstatus.wasm" {
        format_left   "{mode} #[fg=#a0d39a,bold]{session}"
        format_center "{tabs}"
        format_right  "{command_git_branch} {datetime}"
        format_space  ""

        border_enabled  "false"
        border_char   "─"
        border_format   "#[fg=#8c9388]{char}"
        border_position "top"

        hide_frame_for_single_pane "true"

        mode_normal  "#[bg=#a0d39a] "
        mode_tmux  "#[bg=#b9ccb4] "

        tab_normal   "#[fg=#e0e4db] {name} "
        tab_active   "#[fg=#c2c9bd,bold,italic] {name} "

        command_git_branch_command   "git rev-parse --abbrev-ref HEAD"
        command_git_branch_format    "#[fg=#a0d39a] {stdout} "
        command_git_branch_interval  "10"
        command_git_branch_rendermode  "static"

        datetime    "#[fg=#e0e4db,bold] {format} "
        datetime_format "%A, %d %b %Y %H:%M"
        datetime_timezone "Europe/Berlin"
      }
    }
  }
}
