themes {
  default {
 		fg "#e0e4db"
 		bg "#10140f"
 		black "#10140f"
 		red "#ffb4a3"
 		green "#aad291"
 		yellow "#e4c36c"
 		blue "#9ecafc"
 		magenta "#d0bcfe"
 		cyan "#82d3e1"
 		white "#e0e4db"
 		orange "#ffb68a"
  }
}
