[submodule "zsh/plugins/zsh-autosuggestions"]
	path = ohmyzsh/.oh-my-zsh/custom/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule "zsh/plugins/zsh-syntax-highlighting"]
	path = ohmyzsh/.oh-my-zsh/custom/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "zsh/themes/powerlevel10k"]
	path = ohmyzsh/.oh-my-zsh/custom/themes/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
[submodule "zsh/plugins/zsh-eza"]
	path = ohmyzsh/.oh-my-zsh/custom/plugins/zsh-eza
	url = https://github.com/z-shell/zsh-eza.git
[submodule "zsh/plugins/zzcomplete"]
	path = ohmyzsh/.oh-my-zsh/custom/plugins/zzcomplete
	url = https://github.com/z-shell/zzcomplete.git
[submodule "zsh/plugins/zui"]
	path = ohmyzsh/.oh-my-zsh/custom/plugins/zui
	url = https://github.com/z-shell/zui.git
[submodule "zsh/plugins/zsh-history-substring-search"]
	path = ohmyzsh/.oh-my-zsh/custom/plugins/zsh-history-substring-search
	url = https://github.com/zsh-users/zsh-history-substring-search
[submodule "ohmyzsh/.oh-my-zsh/custom/plugins/zsh-completions"]
	path = ohmyzsh/.oh-my-zsh/custom/plugins/zsh-completions
	url = https://github.com/zsh-users/zsh-completions
