@import "mocha.css";

* {
  border: none;
  border-radius: 10px;
  font-family: "MonoLisa static";
  font-size: 15px;
  min-height: 10px;
}

window {
}

window#waybar {
  background-color: @base;
  border-radius: 15px;
  margin-top: 6px;
}

window#waybar.hidden {
  opacity: 0.2;
}

#window {
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  transition: none;
  color: transparent;
  background: transparent;
}

#workspaces {
  margin: 6px 6px 6px 6px;
  border-radius: 18px;
  background: @surface0;
  transition: none;
  padding-left: 12px;
  padding-right: 6px;
}

#workspaces button {
  transition: none;
  color: @pink;
  background: transparent;
  margin-right: 10px;
}

#workspaces button.persistent {
  transition: none;
  color: @yellow;
  background: transparent;
  font-size: 4px;
}

#workspaces button.empty {
  color: @maroon;
  font-size: 2px;
  transition: none;
  background: transparent;
}

#workspaces button.active {
  transition: none;
  color: @blue;
  background: transparent;
  font-size: 4px;
}

#network {
  margin-top: 6px;
  margin-left: 8px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 6px;
  border-radius: 18px;
  font-size: 14px;
  font-weight: bold;
  transition: none;
  color: @crust;
  background: @lavender;
}

#pulseaudio {
  margin-top: 6px;
  margin-left: 8px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 6px;
  border-radius: 18px;
  font-size: 14px;
  font-weight: bold;
  transition: none;
  color: @mantle;
  background: @peach;
}
#wireplumber {
  margin-top: 6px;
  margin-left: 8px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 6px;
  border-radius: 18px;
  font-size: 14px;
  font-weight: bold;
  transition: none;
  color: @mantle;
  background: @peach;
}

#battery {
  margin-top: 6px;
  margin-left: 8px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 6px;
  border-radius: 18px;
  transition: none;
  font-size: 14px;
  font-weight: bold;
  color: @mantle;
  background: @green;
}
/*
#battery.charging,
#battery.plugged {
    color: #161320;
    background-color: transparent;
}
*/

#battery.critical:not(.charging) {
  background-color: @red;
  color: @mantle;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes blink {
  to {
    color: @maroon;
  }
}

#backlight {
  margin-top: 6px;
  margin-left: 8px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 0px;
  border-radius: 10px;
  transition: none;
  color: @mantle;
  background: @mauve;
}

#clock {
  margin-top: 6px;
  margin-left: 8px;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 8px;
  margin-bottom: 6px;
  border-radius: 18px;
  transition: none;
  font-size: 14px;
  font-weight: bold;
  color: @mantle;
  background: @pink;
}

#memory {
  margin: 6px 0px 6px 8px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 18px;
  font-size: 14px;
  font-weight: bold;
  transition: none;
  color: @mantle;
  background: @teal;
}

#cpu {
  margin-top: 6px;
  margin-left: 8px;
  padding-left: 10px;
  margin-bottom: 6px;
  padding-right: 10px;
  border-radius: 18px;
  font-size: 14px;
  font-weight: bold;
  transition: none;
  color: @mantle;
  background: @red;
}

#tray {
  margin-top: 6px;
  margin-left: 8px;
  padding-left: 10px;
  margin-bottom: 0px;
  padding-right: 10px;
  border-radius: 10px;
  transition: none;
  color: @text;
  background: @surface0;
}

#custom-launcher {
  font-size: 18px;
  margin-left: 8px;
  padding-left: 10px;
  padding-right: 5px;
  border-radius: 10px;
  transition: none;
  color: @blue;
  background: transparent;
}

#custom-power {
  font-size: 20px;
  margin-top: 6px;
  margin-left: 8px;
  margin-right: 8px;
  padding-left: 10px;
  padding-right: 5px;
  margin-bottom: 0px;
  border-radius: 10px;
  transition: none;
  color: @mantle;
  background: @yellow;
}

#custom-updates {
  margin-top: 6px;
  margin-left: 8px;
  padding-left: 10px;
  margin-bottom: 6px;
  padding-right: 10px;
  border-radius: 18px;
  font-size: 14px;
  font-weight: bold;
  transition: none;
  color: @mantle;
  background: @red;
}

#custom-media {
  margin-top: 6px;
  margin-left: 8px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 0px;
  border-radius: 10px;
  transition: none;
  color: @mantle;
  background: @peach;
}
