* {
  font-family: "FiraCode Nerd Font";
  font-size: 16px;
  min-height: 0;

  margin: 0px 5px;
  color: #a7c080;
}

#custom-launcher {
  margin: 10px;
}
window#waybar {
  background: rgba(45, 53, 59, 0.6);
  color: #d3c6aa;
}

#window,
#system,
#keyboard,
#hardware {
  margin: 5px;
  padding: 0 10px;
  background-color: #272e33;
  border: 2px solid #3d484d;
  border-radius: 15px;
}

#window {
  font-weight: bold;
}

#workspaces {
  margin-right: 10px;
  font-weight: bold;
}

#workspaces button {
  border: none;
  border-radius: 0;
  color: #d3c6aa;
  margin: 0;
  transition: all 0.3s ease-in-out;
}

#workspaces button.active {
  background-color: #a7c080;
  transition: all 0.3s ease-in-out;
}

#workspaces button.focused {
  color: #2d353b;
  background-color: #3d484d;
}

#workspaces button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
  background: #3d484d;
  border: none;
  color: #d3c6aa;
}

#keyboard-state {
  margin-right: 7px;
}

#custom-wlogout:hover {
  box-shadow: inherit;
  text-shadow: inherit;
  border: none;
  color: #2d353b;
  background: #a7c080;
}
#custom-wlogout {
  margin-left: 7px;
  padding: 0 15px;
}
