@import '../extra';

.calendar {
  @include floating-widget;
  padding: $popover-padding * 1.4;

  calendar {
    @include unset;

    &:indeterminate {
      color: $bg;
    }

    &:selected {
      @include button;
      color: $primary-fg;
      background-color: $primary-bg;
    }

    .highlight {
      color: $fg;
      font-weight: bold;
    }

    .button {
      color: $primary-bg;
    }

    .header {
      color: $fg;
      font-weight: bold;
    }
  }
}
