
$background: #0f1511;

$color1: #ffb4a3;

$color10: #a1d399;

$color10_container: #245023;

$color10_source: #c3e88d;

$color10_value: #c3e88d;

$color11: #e4c36c;

$color11_container: #594400;

$color11_source: #ffc777;

$color11_value: #ffc777;

$color12: #81d3de;

$color12_container: #004f56;

$color12_source: #b2ccd6;

$color12_value: #b2ccd6;

$color13: #e3b7f3;

$color13_container: #5c396c;

$color13_source: #bb80b3;

$color13_value: #bb80b3;

$color14: #80d4db;

$color14_container: #004f54;

$color14_source: #86e1fc;

$color14_value: #86e1fc;

$color1_container: #723426;

$color1_source: #f07178;

$color1_value: #f07178;

$color2: #a1d399;

$color2_container: #245023;

$color2_source: #c3e88d;

$color2_value: #c3e88d;

$color3: #ffb68a;

$color3_container: #6f3811;

$color3_source: #f78c6c;

$color3_value: #f78c6c;

$color4: #9ecafc;

$color4_container: #164974;

$color4_source: #82aaff;

$color4_value: #82aaff;

$color5: #d0bcfe;

$color5_container: #4d3d75;

$color5_source: #c792ea;

$color5_value: #c792ea;

$color6: #82d3e1;

$color6_container: #004f58;

$color6_source: #89ddff;

$color6_value: #89ddff;

$color9: #ffb4a4;

$color9_container: #733427;

$color9_source: #ff757f;

$color9_value: #ff757f;

$error: #ffb4ab;

$error_container: #93000a;

$inverse_on_surface: #2c322e;

$inverse_primary: #246a4b;

$inverse_surface: #dee4de;

$on_background: #dee4de;

$on_color1: #561f12;

$on_color10: #0b390f;

$on_color10_container: #bdf0b3;

$on_color11: #3d2e00;

$on_color11_container: #ffdf91;

$on_color12: #00363c;

$on_color12_container: #9df0fb;

$on_color13: #442254;

$on_color13_container: #f7d8ff;

$on_color14: #00363a;

$on_color14_container: #9df0f8;

$on_color1_container: #ffdad2;

$on_color2: #0b390f;

$on_color2_container: #bdf0b3;

$on_color3: #522300;

$on_color3_container: #ffdbc8;

$on_color4: #003256;

$on_color4_container: #d0e4ff;

$on_color5: #36265d;

$on_color5_container: #e9ddff;

$on_color6: #00363d;

$on_color6_container: #9eeffe;

$on_color9: #561f13;

$on_color9_container: #ffdad3;

$on_error: #690005;

$on_error_container: #ffdad6;

$on_primary: #003823;

$on_primary_container: #abf2ca;

$on_primary_fixed: #002113;

$on_primary_fixed_variant: #005235;

$on_secondary: #203529;

$on_secondary_container: #d0e8d7;

$on_secondary_fixed: #0b1f15;

$on_secondary_fixed_variant: #364b3f;

$on_surface: #dee4de;

$on_surface_variant: #c0c9c1;

$on_tertiary: #053542;

$on_tertiary_container: #c0e9fa;

$on_tertiary_fixed: #001f28;

$on_tertiary_fixed_variant: #234c5a;

$outline: #8a938c;

$outline_variant: #404943;

$primary: #8fd5af;

$primary_container: #005235;

$primary_fixed: #abf2ca;

$primary_fixed_dim: #8fd5af;

$scrim: #000000;

$secondary: #b4ccbc;

$secondary_container: #364b3f;

$secondary_fixed: #d0e8d7;

$secondary_fixed_dim: #b4ccbc;

$shadow: #000000;

$source_color: #343d37;

$surface: #0f1511;

$surface_bright: #353b36;

$surface_container: #1b211d;

$surface_container_high: #262b27;

$surface_container_highest: #303632;

$surface_container_low: #171d19;

$surface_container_lowest: #0a0f0c;

$surface_dim: #0f1511;

$surface_variant: #404943;

$tertiary: #a4cddd;

$tertiary_container: #234c5a;

$tertiary_fixed: #c0e9fa;

$tertiary_fixed_dim: #a4cddd;

