@import "colors.scss";

$opacity: 0;
$widget-opacity: 0;

$border-width: 0px;
$border-color: transparentize($outline_variant, $widget-opacity);
$border: $border-width solid $border-color;
$popover-border-color: transparentize($outline, $widget-opacity);

$bg: transparentize($surface, $opacity);
$bg-container: $surface_container_high;
$fg: $on_surface;
$primary-bg: $primary;
$primary-fg: $on_primary;
$error-bg: $error;
$error-fg: $on_error;
$scheme: dark;
$padding: 7pt;
$spacing: 5pt;
$radius: 11px;
$transition: 200ms;
$shadows: false;
$widget-bg: transparentize($bg, $widget-opacity);
$hover-bg: transparentize($surface_variant, $widget-opacity);
$hover-fg: $on_surface_variant;

$active-gradient: linear-gradient(to right, $primary, darken($primary, 4%));
$shadow-color: $shadow;
$text-shadow: 2pt 2pt 2pt $shadow-color;
$box-shadow: 2pt 2pt 2pt 0 $shadow-color, inset 0 0 0 $border-width $border-color;
$popover-padding: $padding * 1.6;
$popover-radius: $radius + $popover-padding;
$font-size: 13pt;
$font-name: NotoSans Nerd Font;
// $charging-bg: $primary;
$bar-position: top;
$hyprland-gaps-multiplier: 3;
$screen-corner-multiplier: 0;

* {
  font-family: $font-name;
  font-size: $font-size;
}
